<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글 리스트</title>
</head>
<body>
	<header th:insert="headerNav"></header>
	<main class="container">
		<h1 class="m-3 d-flex justify-content-between align-items-center">게시글 리스트
			<a href="/board/insert.do" class="btn btn-sm btn-primary">게시글 등록</a>
		</h1>
		<p>
			페이지 : 
			<span class="badge text-bg-success" th:text="${paging.page}"></span> /
			<span class="badge text-bg-primary" th:text="${paging.rowCount}"></span>
		</p>
		<nav class="navbar m-3">
		  <div class="container-fluid justify-content-center">
		    <form th:action="@{./1}" class="d-flex" role="search">
		      <select class="form-control me-2" name="field" style="width: 120px">
		      	<option th:selected="${#strings.equals(param.field,'board_no')}" value="board_no">글번호</option>
		      	<option th:selected="${#strings.equals(param.field,'user_id')}" value="user_id">글쓴이</option>
		      	<option th:selected="${#strings.equals(param.field,'title')}" value="title">제목</option>
		      	<option th:selected="${#strings.equals(param.field,'contents')}" value="contents">내용</option>
		      	<option th:selected="${#strings.equals(param.field,'post_time')}" value="post_time">작성일</option>
		      </select>
		      <input class="form-control me-2"  size="20"
		      	th:value="${param.search}" name="search"
		      	type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success" type="submit">Search</button>
		    </form>
		  </div>
		</nav>
		
		<table class="table table-hover">
			<thead>
				<tr>
					<th>no</th>
					<th>글쓴이</th>
					<th>타이틀</th>
					<th>등록일</th>
					<th>조회수</th>
					<th>good</th>
					<th>bad</th>
					<th>댓글수</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="board : ${boardList}" >
					<tr th:onclick="location.href='/board/detail/[[${board.board_no}]]'">
						<td th:text="${board.board_no}"></td>
						<td th:text="${board.user?.user_id}"></td>
						<td th:text="${board.title}"></td>
						<td th:text="${#dates.format(board.post_time,'yyyy-MM-dd hh:mm:ss')}"></td>
						<td th:text="${board.views}"></td>
						<td th:text="${board.good}"></td>
						<td th:text="${board.bad}"></td>
						<td th:text="${board.replys_size}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>
		<div class="d-flex justify-content-center" 
			th:insert="/paging"></div>
		
	</main>
	
	
</body>
</html>