<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	    <div class="ms-2 me-auto">
	      <div>글쓴이 : <span th:text="${reply.user.user_id}"></span>			      	</div>
	      <div>등록일 : <span th:text="${#dates.format(reply.post_time,'yyyy-MM-dd HH:mm:ss')}"></span></div>
	      <div class="fw-bold">
	      	<span th:text="${reply.reply_no}"></span>.
	      	<span th:text="${reply.title}"></span>
	      </div>
	      <div th:if="${reply.img_path!=null}">
	      	<img alt="댓글 이미지" class="img-thumbnail"  style="height:50px; width:100%; object-fit: cover;"
	      	th:src="@{/public/img/{file}(file=${reply.img_path})}">
	      </div>
	      <div th:text="${reply.contents}"></div>	
	    </div>
		<!-- reply.prefer_active : 
				(null-아무도 좋아요를 안누름/insert)  
				(true-좋아요를 누름/좋아요:delete,싫어요:update)  
				(false-싫어요를 누름/좋아요:update,싫어요:delete)
				reply_prefer을 reply_no+user_id 로 수정 삭제
		-->
	    <a  
	    	th:classappend="${
	    		(reply.prefer_active!=null&&reply.prefer_active)
  						?'bi-hand-thumbs-up-fill' 
  						: 'bi-hand-thumbs-up'
	    					}"
	    	class="btn btn-sm btn-outline-primary rounded-pill bi " 
	    	th:text="${reply.good_prefers?.size}"
	    	th:href="|javascript:replyPreferHandler(${reply.reply_no},${reply.prefer_active},'good')|">
	    </a>
	    &nbsp;
	    <a  
	    	th:classappend="${
	    		(reply.prefer_active!=null&&!reply.prefer_active)
  						?'bi-hand-thumbs-down-fill' 
  						: 'bi-hand-thumbs-down'
	    					}"
	    	class="btn btn-sm btn-outline-danger rounded-pill bi " 
	    	th:text="${reply.bad_prefers?.size}" 
	    	th:href="|javascript:replyPreferHandler( ${reply.reply_no},${reply.prefer_active},'bad')|">
	    </a>
</html>