<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:insert="/headerNav"></header>
	<h1>SPRINT_BOARD 데이터베이스 구현하기</h1>
	<h2>SPRINT_BOARD.USR_id</h2>
	<ul>
		<li>대표키 : user_id</li>
	</ul>
	<hr>
	<h2> 220816_reply_prefer_ajax </h2>
	<ul>
		<li>BoardController에 있는 reply 좋아요 싫어요를 ReplyController로 변경 (post,put,delete가 insert,update,delete를 의미하기 때문에 url에서 삭제함)</li>
		<li>method:post /board/reply/prefer/insert/{replyNo}/{prefer} -> /reply/prefer/{replyNo}/{prefer}</li>
		<li>method:put /board/reply/prefer/update/{replyNo}/{prefer} -> /reply/prefer/{replyNo}/{prefer}</li>
		<li>method:delete /board/reply/prefer/delete/{replyNo} -> /reply/prefer/{replyNo}/{prefer}</li>	
		<li>/public/js/board/detail.js : replyPreferHandler() 를 async 함수로 변경하고 좋아요 싫어요 실패시 undefind 가 추가되는 현상 해결 </li>
		<li>/board/replyDetail.html : 자신이 쓴 댓글(수정폼)을 추가하고 자신이 쓴 글에서도 좋아요 싫어요 가능하게 함</li>
		<li>/board/detail.html : 댓글 출려시 /board/replyDetail.html을 반복 출력하는 것으로 변경</li>
		<li>/public/js/board/detail.js : 댓글 좋아요 성공시 alert에서 부트스트랩 모달로 변경</li>
	</ul>
	<h2> 220817_interceptor</h2>
	<ul>
		<li>/user/**,/board/** 에 LoginCheckInterceptor 추가 </li>
		<li>(exclude: /user/login.do,singup.do, /board/list/**,detail.**)</li>
	</ul>
	<h2> 220817_reply_prefer_paging</h2>
	<ul>
		<li>Board가 Reply과 1:n reply과 reply_prefer이 1:n 조인을 하고 있어서 paging이 불가능 </li>
		<li>Board detail 호출시 Reply List를 따로 호출하는 것으로 변경</li>
		<li>Reply과 reply_prefer을 조인하지 않고 서브쿼리로 좋아요 싫어요 수 가져온다.</li>
		<li>Reply List를 따로 호출할 때 로그인 한 사람이 있다면 서브쿼리로 로그인한 유저의 아이디와 댓글번호로 좋아요 싫어요 했는지 확인(prefer_active)</li>
		<li>Board detail 호출 시 로그인 한 사람의 좋아요 싫어요 내역을 따로 호출했는데 서브쿼리로 변경 (board.prefer_active 추가)</li>
		<li>replyMapper.selectBoardNoPage : 보드 detail 조회시 댓글 리스 호출 </li>
		<li>/board/detail.html의 댓글리스트를 분리해서 /board/replyList.html 생성 (ajax로 댓글 리스트 호출시 불러올 page) </li>
	</ul>
	<h2> 220818_reply_prefer_ajax_paging</h2>
	<ul>
		<li>BoardControler.selectOne() "/detail/{boardNo}?replyPage=1"에 replyPage 파라미터 추가 (댓글 페이징)</li>
		<li>/board/replyList.html 에 /public/board/replyList.js 생성 및 추가</li>
		<li>replyList.js 에서 /ajaxPaging.html의 페이징 a 태그에 ajax 이벤트 추가</li>
		<li>ReplyControler.list() "/list/{boardNo}/{page}" 추가 : ajax로 보드에 작성한 댓글 리스트만 호출</li>
		<li>replyMapper.selectBoardNoPage : 보드에 작성한 댓글 리스트를 db에 호출</li>
	</ul>
	<h2> 220818_board_prefer</h2>
	<ul>
		<li>/board/detail.html 의 좋아요 싫어요가 3개 버전(등록 수정 삭제)이 있어 유지 보수를 위해 1개로 줄임</li>
		<li>BoardController 의 preferInsert(),preferUdate(),preferDetele() 를 삭제하고 preferModify() 하나에서 처리</li>
		<li>BoardController.preferModify() "/prefer/{boardNo}/{prefer}" 에서 insert,update,delete 구분은 db 검색해서 처리 </li>
		<li>boardMapper의 insertOne(),updateOne(),deleteOne()의 매개변수를 BoardPrefer로 통일하고 update와 delete의 조건을 user_id와 board_no으로 수정 (유니크)</li>
	</ul>
	
		<h2> 220818_reply_prefer_ajax_paging</h2>
	<ul>
		<li>SPRING_BOARD.txt : board.good, bad 와  reply.good, bad 를 칼럼에서 삭제  </li>
		<li>게시글 패이징 완료</li>
		<li>서버가 브러우저에 저장하는 정보인 쿠키를 이용해 board.views 조회수 올리기 준비</li>
		<li>쿠키는 유효기한이 있는 정보로 해당 브라우저에서 조회수를 올리 board_no 를 배열로 하루동안 저장한다. </li>
		<li>만약 쿠키에 board_no이 있으면 조회수를 올리지 않고 없으면 조회수를 올린다. 그리고 하루가 되면 삭제되는 board_no을 쿠키로 생성한다.<li>
	</ul>
</body>
</html>