<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:insert="/headerNav"></header>
	<h1>SPRINT_BOARD 데이터베이스 구현하기</h1>
	<h2>SPRINT_BOARD.USR_id</h2>
	<ul>
		<li>대표키 : user_id</li>
	</ul>
	<hr>
	<h2> 220816_reply_prefer_ajax </h2>
	<ul>
		<li>BoardController에 있는 reply 좋아요 싫어요를 ReplyController로 변경</li>
		<li>post,put,delete가 insert,update,delete를 의미하기 때문에 url에서 삭제함</li>
		<li>method:post /board/reply/prefer/insert/{replyNo}/{prefer} -> /reply/prefer/{replyNo}/{prefer}</li>
		<li>method:put /board/reply/prefer/update/{replyNo}/{prefer} -> /reply/prefer/{replyNo}/{prefer}</li>
		<li>method:delete /board/reply/prefer/delete/{replyNo} -> /reply/prefer/{replyNo}/{prefer}</li>	
		<li>/public/js/board/detail.js : replyPreferHandler() 를 async 함수로 변경하고 좋아요 싫어요 실패시 undefind 가 추가되는 현상 해결 </li>
	</ul>
</body>
</html>