<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">        
<mapper namespace="com.acon.board.mapper.BoardMapper">
	<resultMap type="Board" id="BoardMap">
		<id column="board_no" property="board_no"/>
		<result column="title" property="title"/>
		<result column="contents" property="contents"/>
		<result column="post_time" property="post_time"/>
		<result column="prefer_good" property="good"/>
		<result column="prefer_bad" property="bad"/>
		<result column="prefer_active" property="prefer_active"/>
		<result column="views" property="views"/>	
		<result column="replys_size" property="replys_size"/>
	
		<!-- Board : User = N : 1   User user-->
		<association property="user" javaType="User" foreignColumn="user_id">
			<id column="user_id" property="user_id"/>
			<result column="name" property="name"/>
			<result column="email" property="email"/>
			<result column="birth" property="birth"/>
		</association>
		<!-- Board : Reply =  1 : N   ArrayLust<Reply> replys -->
		<collection property="boardImgs" javaType="java.util.ArrayList" ofType="BoardImg">
			<id column="iboard_img_no" property="board_img_no"/>
			<result column="iimg_path" property="img_path"/>
		</collection>
	</resultMap>
	<!-- 글쓴이가 없는 보드는 없기 때문에 inner join  -->
	<!-- 리플이 없는 보드가 있기 때문에 Left join  -->
	<!--Inner join - 교집합
		left join - 왼쪽 테이블 전체 + 교집 -->
	<!-- 1:N 조인으로 페이징을 할 수 없다.  -->	
	<select id="selectPageAll"  resultType="Board">
		SELECT 
			board_no,
			title,
			post_time,
			views,
			board_no no,
			(SELECT COUNT(*) FROM REPLY r WHERE r.board_no=no) replys_size,
			(SELECT COUNT(*) FROM BOARD_PREFER WHERE board_no=no AND prefer=true) good,
			(SELECT COUNT(*) FROM BOARD_PREFER WHERE board_no=no AND prefer=false) bad,			
			user_id as 'user.user_id'
			FROM BOARD 
			ORDER BY board_no
	</select>
	<select id="selectOne" resultMap="BoardMap" parameterType="int">
		SELECT 
			b.*,
			(SELECT COUNT(*) FROM BOARD_PREFER WHERE board_no=b.board_no AND prefer=true) prefer_good,
			(SELECT COUNT(*) FROM BOARD_PREFER WHERE board_no=b.board_no AND prefer=false) prefer_bad,
			
			<if test="loginUserId!=null">
				(SELECT prefer FROM BOARD_PREFER WHERE board_no=b.board_no AND user_id=#{loginUserId}) 	as prefer_active,
			</if>
						
			u.user_id,
			u.name,
			u.email,
			u.birth,
			
			i.board_img_no 	as iboard_img_no,
			i.img_path 		as iimg_path			
			
			FROM BOARD b INNER JOIN USER u
			USING (user_id)		
						
			LEFT JOIN BOARD_IMG i
			USING (board_no)
			
			LEFT JOIN REPLY r
			USING (board_no)
			
			WHERE b.board_no=#{boardNo}
			ORDER BY reply_no DESC
	</select>
	<!-- <update id="updateGood">
		UPDATE BOARD SET 
			good=(SELECT * from(select good+1 FROM BOARD b WHERE board_no=1) as b)+1
			WHERE board_no=#{boardNo}
	</update> -->
	<update id="updateGood" parameterType="int">
		UPDATE BOARD SET 
			good=good+1
			WHERE board_no=#{boardNo}
	</update>
	<update id="updateBad" parameterType="int">
		UPDATE BOARD  SET 
			bad=bad+1
			WHERE board_no=#{boardNo}
	</update>
	<update id="updateViews" parameterType="int">
		UPDATE BOARD SET
			views=views+1
			WHERE board_no=#{boardNo}
	</update>
	<update id="updateOne" parameterType="Board">
		UPDATE BOARD SET
			title=#{title},
			contents=#{contents}
			WHERE board_no=#{board_no}
	</update>
	<!-- auto increment 로 생성된 board_no 을 반환 받는 방법
	useGeneratedKeys : auto increment로 pk를 생성한다.
	keyProperty : auto increment로 pk를 해당 필들에 정의함
	-->
	<insert id="insertOne" parameterType="Board"
	 useGeneratedKeys="true" keyProperty="board_no">
		INSERT INTO BOARD (title,contents,user_id)
		VALUES (#{title},#{contents},#{user.user_id})
	</insert>
	<delete id="deleteOne" parameterType="int">
		DELETE FROM BOARD WHERE board_no=#{boardNo}	
	</delete>
</mapper>




