<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">        
<mapper namespace="com.acon.board.mapper.ReplyPreferMapper">
	<insert id="insertOne" parameterType="ReplyPrefer">
		INSERT INTO REPLY_PREFER 
			(reply_no,user_id,prefer) VALUES 
			(#{reply_no},#{user_id},#{prefer})
	</insert>
	<update id="updateOne" parameterType="ReplyPrefer">
		UPDATE REPLY_PREFER set prefer=#{prefer}
			WHERE reply_no=#{reply_no} AND user_id=#{user_id}
	</update>
	<delete id="deleteOne" parameterType="ReplyPrefer">
		DELETE FROM REPLY_PREFER
			WHERE reply_no=#{reply_no} AND user_id=#{user_id}
	</delete>
</mapper>