<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">        
<mapper namespace="com.acon.board.mapper.ReplyMapper">
	<select id="selectBoardNoPage" resultType="Reply" >
		SELECT reply_no,title,contents,post_time,img_path,board_no,
			reply_no	as no,
			user_id 	as 'user.user_id',
			(SELECT COUNT(*) FROM REPLY_PREFER WHERE reply_no=no AND prefer=true) 	as good,
			(SELECT COUNT(*) FROM REPLY_PREFER WHERE reply_no=no AND prefer=false) 	as bad
			<if test="loginUserId!=null">
			,(SELECT prefer FROM REPLY_PREFER WHERE reply_no=no AND user_id=#{loginUserId}) as prefer_active
			</if>	
			FROM REPLY 
			WHERE board_no=#{boardNo}
			ORDER BY reply_no DESC
			LIMIT #{startRow},#{pageSize}
	</select>
	<select id="selectBoardNoCount" resultType="int" >
		SELECT COUNT(*) FROM REPLY WHERE board_no=#{boardNo}
	</select>

	<select id="selectOnePrefers" resultType="Reply" parameterType="int">
		SELECT reply_no,title,contents,post_time,img_path,board_no,
			reply_no	as no,
			user_id 	as 'user.user_id',
			(SELECT COUNT(*) FROM REPLY_PREFER WHERE reply_no=no AND prefer=true) 	as good,
			(SELECT COUNT(*) FROM REPLY_PREFER WHERE reply_no=no AND prefer=false) 	as bad
			<if test="loginUserId!=null">
			,(SELECT prefer FROM REPLY_PREFER WHERE reply_no=no AND user_id=#{loginUserId}) as prefer_active
			</if>
									
			FROM REPLY 
			WHERE reply_no=#{replyNo}
	</select>

	<select id="selectOne" resultType="Reply" parameterType="int">
		SELECT *,user_id 'user.user_id' FROM REPLY 
		WHERE reply_no=#{replyNo}
	</select>
	<select id="selectBoardNo" resultType="Reply" parameterType="int">
		SELECT *,user_id 'user.user_id' FROM REPLY 
		WHERE board_no=#{boardNo}
	</select>
	
	<select id="selectUserId" 
	resultType="Reply"
	parameterType="String">
		SELECT *,user_id 'user.user_id' FROM REPLY 
		WHERE user_id=#{userId}
	</select>
	
	<insert id="insertOne" parameterType="Reply">
		INSERT INTO REPLY 
			(title,contents,img_path,board_no,user_id) 
			VALUES 
			(#{title},#{contents},#{img_path},#{board_no},#{user.user_id})
	</insert>
	<update id="updateOne" parameterType="Reply">
		UPDATE REPLY SET
			title=#{title},
			contents=#{contents},
			img_path=#{img_path}
			WHERE reply_no=#{reply_no}
	</update>
	<delete id="deleteOne" parameterType="int">
		DELETE FROM REPLY WHERE reply_no=#{replyNo}
	</delete>

</mapper>